@import "tailwindcss";

@keyframes shine {
  0% { background-position: -200% center; }
  100% { background-position: 200% center; }
}

@layer utilities {
  .animate-shine {
    animation: shine 2s linear 1s;
  }
}